.plan-grid{
    list-style: none;
}

.plan-grid li {
    float: left;
}

.plan-item-img{
    border: 1px solid #ddd;
    border-radius: 6px;
    width: 40px;
    padding: 5px;
}

.plan-item-img-thumbnail {
    width: 80%;
}
.plan-cover {
    text-align: center;
}

.plan-cover img{
    padding: 5px;
    width: 222px;
    border: 1px solid #ddd;
    border-radius: 8px;
}