www
storage
.env
.modman
*.zip

### Composer ###
composer.phar
vendor
composer.lock
system/library/mundipagg/composer.lock


### Vim ###
# swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

### Eclipse ###
.metadata
.settings/

# PDT-specific (PHP Development Tools)
.buildpath

# Eclipse Core      
.project
