<div class="pull-right">
    <button type="submit" class="btn btn-primary" title="Adicionar"><i class="fa fa-plus"></i></button>
    <button type="button" class="btn btn-danger" title="Desabilitar"><i class="fa fa-ban"></i></button>
    <button type="button" class="btn btn-success" title="Habilitar"><i class="fa fa-check-circle"></i></button>
</div>