<div class="row">
    <div class="col-sm-6 text-left"><ul class="pagination"><li class="active"><span>1</span></li><li><a href="#">2</a></li><li><a href="#">&gt;</a></li><li><a href="http://opencart.localhost/admin/index.php?route=catalog/category&amp;user_token=ajZoZd2ECVe6bLWJu4D4uvaGIHhWnj57&amp;page=2">&gt;|</a></li></ul></div>
    <div class="col-sm-6 text-right">Showing 1 to 20 of 38 (2 Pages)</div>
</div>