<div class="panel-heading">
    <button class="btn btn-default active" type="button">
        <i class="fa fa-th"></i>
    </button>
    <button class="btn btn-default" type="button">
        <i class="fa fa fa-list"></i>
    </button>
</div>