<div class="panel-heading">
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default active">
          <input type="radio" name="options" class="checkbox-tab" id="grid" autocomplete="off" checked> <i class="fa fa-th"></i>
        </label>
        <label class="btn btn-default">
          <input type="radio" name="options" class="checkbox-tab" id="list" autocomplete="off"> <i class="fa fa fa-list"></i>
        </label>
    </div>

</div>
