<div class="tab-pane active" id="creditCardTab">
    {% if brandNames %}
        <div class="row">
            <h3 class="col-sm-12">Pagamento com cartão de crédito</h3>
        </div>

        <form id="credit-card-form-0" action="index.php?route=extension/payment/mundipagg/processCreditCard" method="post" data-mundicheckout-form>
            {% include brandsTemplate  %}
            {%  set inputId = 0 %}
            {% include savedCreditcardTemplate %}
            {% include newCreditcardTemplate %}
            <span class="hidden">
                {% include orderAmountInput %}
            </span>
            <hr>
            <div class="row">
                {% include submitTemplate %}
            </div>
        </form>
        {% if savedCreditcards != null %}
            <style>
                .newCreditcard {
                    display: none;
                }
            </style>
        {% endif %}
    {% else %}
        <h3>{{ credit_card.no_brands_enabled }}</h3>
    {% endif %}
</div>