    {% include creditCardTemplate %}

    <div class="row newCreditcard credit creditCard-{{ inputId }}">
        <span  id="token-error-message" class="text-danger"></span>
        <br>
        {%  if isSavedCreditcardEnabled %}
            <div class="col-sm-12">
                <input type="checkbox" class="float-to-left" name="cardSaveCreditcard" />
                {{ credit_card.save_creditcard_message }}
            </div>
        {% endif %}
    </div>
</form>