<form action="index.php?route=extension/payment/mundipagg/processCreditCard" method="post" data-mundicheckout-form>

    {%  set inputId = 1 %}
    {% include 'default/template/extension/payment/mundipagg/credit_card/credit_card.twig' %}
    {%  set inputId = 2 %}
    {% include 'default/template/extension/payment/mundipagg/credit_card/credit_card.twig' %}

    <div class="row newCreditcard">
        <span  id="token-error-message" class="text-danger"></span>
        <br>
        {%  if isSavedCreditcardEnabled %}
            <div class="col-sm-12">
                <input type="checkbox" class="float-to-left" name="cardSaveCreditcard" />
                {{ credit_card.save_creditcard_message }}
            </div>
        {% endif %}
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary float-to-right" id="submit-payment-button">Efetuar pagamento</button>
        </div>
    </div>
</form>