{% include formBase %}
{% include panelPlanFrequency %}

<div class="form-group required">
    <div class="col-sm-10">
        <button type="submit" title="" class="btn btn-primary" data-original-title="Save">
            {{ selectedTemplateRoot ? "Editar" : "Adicionar a esse plano"}}
        </button>
    </div>
</div>
