<div class="form-group required">
    <label class="col-sm-5">Ciclos</label>
    <label class="col-sm-5">Intervalo</label>
    <div class="col-sm-5">
        <input type="text" class="form-control" placeholder="3" name="cycles">
    </div>
    <div class="frequency">
        <div class="col-sm-5">
            <select id="frequency" class="form-control" name="intervals[0][frequency]">
                <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
                <option>05</option>
                <option>06</option>
                <option>07</option>
                <option>08</option>
                <option>09</option>
                <option>10</option>
            </select>
            <select id="interval" class="form-control" name="intervals[0][type]">
                {% for intervalType in intervalTypesArray %}
                    <option value="{{ intervalType.code }}">{{ intervalType.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<div class="form-group required">
    <label class="col-sm-5">Trial</label>
    <div class="col-sm-5">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="15" name="trial-days">
          <span class="input-group-addon">Days</span>
        </div>
    </div>
</div>
