<div class="form-group required">
    <label class="col-sm-3">Repetições</label>
    <label class="col-sm-3">Intervalo</label>
    <label class="col-sm-6">Desconto</label>
    <div class="frequency">
        <div class="col-sm-3">
            <select id="frequency" class="form-control">
                <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
                <option>05</option>
                <option>06</option>
                <option>07</option>
                <option>08</option>
                <option>09</option>
                <option>10</option>
            </select>
        </div>
        <div class="col-sm-3">
            <select id="interval" class="form-control">
                <option>Mensal</option>
                <option>Semestral</option>
            </select>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <div class="input-group-btn bs-dropdown-to-select-group">
                    <button type="button" class="btn btn-default dropdown-toggle as-is bs-dropdown-to-select" data-toggle="dropdown">
                       <span data-bind="bs-drp-sel-label">%</span>
                       <input type="hidden" id="type_discount" data-bind="bs-drp-sel-value" value="percent" data-symbol="%">
                       <span class="caret"></span>
                       <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li data-value="fixed"><a href="#">R$</a></li>
                        <li data-value="percent"><a href="#">%</a></li>
                    </ul>
                </div><!-- /btn-group -->
                <input type="text" class="form-control discount" id="discount">
            </div><!-- /input-group -->
        </div>
        <div class="col-sm-3">
            <button type="submit" form="form-product" title="" class="btn btn-primary btn-add-frequency" data-original-title="Save"><i class="fa fa-plus-circle"></i> </button>
        </div>
    </div>
</div>

<div class="panels">

        <label>Ciclos deste plano<br></label>
        <div class="table-responsive">
            <table id="images" class="table table-striped table-bordered table-hover table-interval" data-number="0">
                <thead>
                <tr>
                    <td>Intervalo</td>
                    <td>Tipo</td>
                    <td>Desconto</td>
                    <td>Remover</td>
                </tr>
                </thead>
                <tbody class="table-body">
                </tbody>
            </table>
    </div>
</div>


<script>
function removeRow(e) {
    $(e).parent().parent().remove();
    return false;
}

function makeInput(inputName, type, value){
    return '<input type="hidden" name="' + inputName + "[" + type + ']" value="' + value + '"/>'
}

function makeSpan(text) {
    return '<span class="label label-default">' + text + '</span>';
}

function formatValueDiscount(value, type, symbol) {
    if (value.length  <= 0 ) {
        return "Não";
    }

    if (type == 'percent') {
        return [value, symbol].join(" ");
    }
    return [symbol, value].join(" ");
}


function makeFrequencyColumn(inputName, frequency)
{
    var newCol = $("<td>");
    newCol.append(makeSpan(frequency + ' Repetições'));
    newCol.append(makeInput(inputName, "frequency", frequency));
    return newCol;
}

function makeIntervalColumn(inputName, interval)
{
    var newCol = $("<td>");
    newCol.append(makeSpan(interval));
    newCol.append(makeInput(inputName, "interval", interval));

    return newCol;
}

function makeDiscountColumn(inputName, discount, type_discount, type_discount_symbol)
{
   var newCol = $("<td>");
   value_type_discount = formatValueDiscount(discount, type_discount, type_discount_symbol);

   newCol.append(makeSpan(value_type_discount));
   newCol.append(makeInput(inputName, "discount", discount));
   newCol.append(makeInput(inputName, "type_discount", type_discount));

    return newCol;
}

function makeButtonColumn()
{
    var newCol = $("<td>");
    newCol.append('<button type="button" onCLick="removeRow(this)" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>');

    return newCol;
}
$(document).ready(function(e){


    $(document).on('click', '.btn-add-frequency', function(e)
    {
        e.preventDefault();

        var table = $('.table-interval');
        var currentNumber = table.data('number') + 1;
        var newRow = $("<tr>");
        var newCol = $("<td>");
        var currentFrequency = $(this).parents('.frequency:first');

        var frequency = currentFrequency.find('#frequency').val();
        var interval = currentFrequency.find('#interval').val();
        var discount = currentFrequency.find('#discount').val();
        var type_discount_symbol = currentFrequency.find('#type_discount').attr('data-symbol');
        var type_discount = currentFrequency.find('#type_discount').val();

        var inputName = "intervals[" + currentNumber + "]";

        newRow.append(makeFrequencyColumn(inputName, frequency));
        newRow.append(makeIntervalColumn(inputName, interval));
        newRow.append(makeDiscountColumn(
            inputName,
            discount,
            type_discount,
            type_discount_symbol
        ));
        newRow.append(makeButtonColumn());

        table.append(newRow);
        table.data('number', currentNumber);

    });

    $( document ).on( 'click', '.bs-dropdown-to-select-group .dropdown-menu li', function( event ) {
        var $target = $( event.currentTarget );
        $target.closest('.bs-dropdown-to-select-group')
            .find('[data-bind="bs-drp-sel-value"]').val($target.attr('data-value'))
            .attr('data-symbol', $target.context.textContent)
            .end()
            .children('.dropdown-toggle').dropdown('toggle');

        $target.closest('.bs-dropdown-to-select-group')
            .find('[data-bind="bs-drp-sel-label"]').text($target.context.textContent);

        var symbol = $target.context.textContent;

        $target.closest('.bs-dropdown-to-select-group')
            .find('[data-bind="bs-drp-sel-value"]')
            .attr('data-symbol', symbol);

        return false;
    });
});

</script>
