<div class="tab-pane alert alert-info" id="boletoTab">
    <div class="row">
        <h3 class="col-sm-12">{{ boleto.title }}</h3>
        <div class="col-sm-10">
            <a href="javascript:;" target="_SELF" onclick="generate();" id="boletoLink">
                <i class="fa fa-file-text"></i>
                {{ boleto.click_to_generate }}
            </a>
        </div>
        <div class="col-sm-2">
            <img src="image/catalog/mundipagg/boleto.png" title="Boleto" alt="Boleto" width="75">
        </div>
        <div class="col-sm-12">
            <br>
            <blockquote>
                <h8>{{ boleto.instructions }}</h8>
            </blockquote>
        </div>
    </div>
</div>