<div id="grid-template">
    <div style="margin-bottom: 15px">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Ordenar
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Nome</a></li>
                <li><a href="#">Descrição</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="thumbnail">
                <img src="https://www.agenciah2o.com.br/images/planos/loja-virtual/loja-virtual-plano-gold.png" class="plan-item-img-thumbnail">
                <div class="row">
                    <ul class="plan-grid col-sm-12">
                        <li><img class="plan-item-img" src="http://opencart.localhost/image/cache/catalog/demo/apple_cinema_30-40x40.jpg"></li>
                        <li><img class="plan-item-img" src="http://opencart.localhost/image/cache/catalog/demo/canon_eos_5d_1-40x40.jpg"></li>
                        <li><img class="plan-item-img" src="http://opencart.localhost/image/cache/catalog/demo/hp_1-40x40.jpg"></li>
                        <li><img class="plan-item-img" src="http://opencart.localhost/image/cache/catalog/demo/htc_touch_hd_1-40x40.jpg"></li>
                    </ul>
                </div>
                <div class="caption text-center">
                    <h3>Plano Gold</h3>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra, massa eget cursus viverra...</p>
                    <td class="text-right"><a href="#" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i> Editar plano</a></td>
                </div>
            </div>
        </div>
    </div>
</div>
