<div id="list-template">
    <div class="table-responsive ">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <td style="width: 1px;" class="text-center">
                    <input type="checkbox">
                </td>
                <td class="text-left"><a href="#" class="asc">Planos</a></td>
                <td class="text-left">Capa</td>
                <td class="text-left"><a href="#">Descrição</a></td>
                <td class="text-center" colspan="2">Itens</td>
                <td class="text-right">Ações</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center">
                    <input type="checkbox" name="selected[]" value="33">
                </td>
                <td class="text-left"><a href="#">Plano Gold</a></td>
                <td class="text-center"><img height="100" src="https://www.agenciah2o.com.br/images/planos/loja-virtual/loja-virtual-plano-gold.png"></td>
                <td class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra, massa eget cursus viverra, nunc ligula finibus purus, sit amet bibendum erat nulla quis risus</td>
                <td class="text-left">
                    <a href="#">Cueca <span class="badge">2</span></a>
                    <a href="#">Meia <span class="badge">4</span><a>
                    <a href="#">Barbeador <span class="badge">12</span></a>
                    <a href="#">Gel <span class="badge">1</span></a>
                    <a href="#">Pós barba <span class="badge">1</span></a>
                </td>
                <td class="text-left">
                    <img class="plan-item-img" src="http://opencart.localhost/image/cache/catalog/demo/apple_cinema_30-40x40.jpg">
                    <img class="plan-item-img" src="http://opencart.localhost/image/cache/catalog/demo/canon_eos_5d_1-40x40.jpg">
                    <img class="plan-item-img" src="http://opencart.localhost/image/cache/catalog/demo/hp_1-40x40.jpg">
                    <img class="plan-item-img" src="http://opencart.localhost/image/cache/catalog/demo/htc_touch_hd_1-40x40.jpg">
                </td>
                <td class="text-right">
                    <a href="#" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                    <button type="button" class="btn btn-danger" title="Desabilitar"><i class="fa fa-ban"></i></button>
                    <button type="button" class="btn btn-success" title="Habilitar"><i class="fa fa-check-circle"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
