<form action="#" method="post" enctype="multipart/form-data" id="form-mundipagg" class="form-horizontal">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-general" data-toggle="tab" title="General">General</a></li>
        <li><a href="#tab-products" data-toggle="tab" title="Products"">Products</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="tab-general">
            <div class="panel-heading">
                <h3>Module</h3>
            </div>
            <div class="panel-body col-sm-6">
                <div class="form-group required">
                    <label class="col-sm-2 control-label" for="payment-title">Nome do plano</label>
                    <div class="col-sm-9">
                        <input type="text" name="payment_mundipagg_title" placeholder="Payment title" id="payment-title" class="form-control" value="Plano gold">
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-sm-2 control-label" for="payment-title">Descrição</label>
                    <div class="col-sm-9">
                        <textarea wrap="off" rows="15" class="form-control" name="payment_mundipagg_boleto_instructions"></textarea>
                    </div>

                </div>
                <div class="form-group required">
                    <div class="col-sm-9">
                        <label class="col-sm-2 control-label" for="payment-title">Capa</label>
                        <div class="col-sm-9">
                            <input type="file">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body col-sm-6">
                <div class="col-sm-12 plan-cover">
                    <h3>Capa</h3>
                    <img src="https://www.agenciah2o.com.br/images/planos/loja-virtual/loja-virtual-plano-gold.png">
                </div>
            </div>

        </div> <!-- tab-general -->

        <div class="tab-pane" id="tab-products">
            <div class="panel-heading">
                <h3>Adicionar produtos a esse plano</h3>
            </div>
            <div class="panel-body">
                <div class="form-group required">
                    <button class="btn btn-success">Adicionar produto</button>
                </div>

                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <td style="width: 1px;" class="text-center">
                            <input type="checkbox">
                        </td>
                        <td class="text-left">Produto</td>
                        <td class="text-left">Imagem</td>
                        <td class="text-left">Quantidade</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">
                            <input type="checkbox" name="selected[]" value="33">
                        </td>
                        <td class="text-left"><a href="#">Iphone</a></td>
                        <td class="text-center"><img height="100" src="http://opencart.localhost/image/cache/catalog/demo/apple_cinema_30-40x40.jpg"></td>
                        <td class="text-right">
                            <div class="col-sm-2">
                                <input type="number"placeholder="Quantidade" class="form-control" value="5">
                            </div>
                            <div class="col-sm-2">
                                <a href="#" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Aumentar quantidade"><i class="fa fa-plus"></i></a>
                                <button type="button" class="btn btn-danger" title="Diminuir quantidade"><i class="fa fa-minus"></i></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div> <!-- tab-general -->
    </div>
</form>