<div class="row">
    <h3 class="col-sm-12">{{ boleto.title }}</h3>
    <div class="col-sm-7">
        <blockquote class="boletoBlockQuote">
            <h8>{{ boleto.instructions }}</h8>
        </blockquote>
    </div>
    <div class="col-sm-2">
        <img src="image/catalog/mundipagg/boleto.png" title="Boleto" alt="Boleto" width="75" onclick="generate();">
    </div>
</div>

